
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div > div > div.st-emotion-cache-ocqkz7.e1f1d6gn4 > div:nth-child(2){
  background-color: rgb(233, 240, 255);
  border: 1px solid navy ;  /* Add border with 1px thickness and black color */
  border-radius: 10px;    /* Add border radius for rounded corners */
  padding: 10px;          /* Add padding for spacing inside the element */
   
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div > div > div.st-emotion-cache-ocqkz7.e1f1d6gn4 > div:nth-child(2) > div > div > div > div > div:nth-child(3){
  background-color:  navy;
  color:rgb(17, 17, 17) 
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div > div > div.st-emotion-cache-ocqkz7.e1f1d6gn4{
  background-color: rgb(255, 255, 255);
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div > div > div.st-emotion-cache-ocqkz7.e1f1d6gn4 > div:nth-child(2) > div > div > div > div > div:nth-child(5){
  background-color:  navy;
}



 #root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div > div > div.st-emotion-cache-ocqkz7.e1f1d6gn4 > div:nth-child(2) > div > div > div > div > div:nth-child(3) > div > div > p > code{
  color:white;
  background-color: navy;
 }
 #root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-nju155.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3{
  background-color: rgb(184, 205, 252);
 }
 #root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5{
  border: 2px solid rgb(0, 2, 8) ;  /* Add border with 1px thickness and black color */
  border-radius: 0px;    /* Add border radius for rounded corners */
  padding: 10px;          /* Add padding for spacing inside the element */
 }
 #root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div > div > div.stChatMessage.st-emotion-cache-4oy321.eeusbqq4{
  background-color: rgb(233, 240, 255);
  color: navy;

 }
 #root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div > div > div.stChatMessage.st-emotion-cache-4oy321.eeusbqq4 > div.st-emotion-cache-14m9yky.eeusbqq3{
  color:navy;
  background-color: rgb(233, 240, 255);
 }
 #root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div > div > div.element-container.st-emotion-cache-10gv909.e1f1d6gn3 > div > div > div > div.st-bg.st-b4.st-bh.st-co.st-bj.st-bk.st-bl.st-bm.st-bn.st-bo.st-bp.st-bq.st-br.st-b2.st-bs.st-av.st-ay.st-aw.st-ax.st-bt.st-bu.st-bv.st-bw.st-bx.st-by.st-bz.st-c0 > div{
  background-color: rgb(12, 51, 158);
 }
 #root > div:nth-child(1) > div.withScreencast > div > div > header{
    background-color: rgb(233, 240, 255);
    color: navy;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > div > button > svg{
  color:white;
  width: 20px
}
.sidebar{
  background-color: rgb(233, 240, 255);
}
.stButton {
  /* Add styles for the stButton class */
  background-color: rgb(218, 218, 230);
  color: white; 
  /* padding: 10px 20px; */
  border: 3px;
  border-radius: 5px;
  width: 40px;
  cursor: pointer;


}
.row-widget {
  /* Add styles for the row-widget class */
  margin-bottom: 10px;
  background-color: rgb(233, 240, 255);
  color:navy;

}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-nju155.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-16txtl3.eczjsme4 > div > div > div > div:nth-child(3) > div > div > p > code{
  color: navy; 
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-nju155.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-16txtl3.eczjsme4 > div > div > div > div:nth-child(4) > div > div > div > h4 > code{
  color:navy; 
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-nju155.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-16txtl3.eczjsme4 > div > div > div > div:nth-child(5){
  background-color:rgb(0, 0, 0) ;
  color: navy;
}
